# React / Node
node_modules/
dist/

# Environment variables
.env
.env.local
.env.development
.env.production

# Python
__pycache__/
*.pyc
.venv/
venv/

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*